@inject AuthManager authManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>StackOverflow - @this.ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup" role="navigation">
                <div class="navbar-nav-dark bg-dark" role="navigation" >
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Posts" asp-action="Index">Posts</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="TopComments" asp-action="Index">Top 10 Comments</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Comments" asp-action="About">Comments</a>
                    <a class="nav-link text-dark" href="/api/swagger">Developer API</a>
                    @if (this.authManager.CurrentUser == null)
                    {
                        <a asp-controller="Users" asp-action="Login" class="btn btn-outline-success">Login</a>
                    }
                    else
                    {
                        <a asp-controller="Users" asp-action="Logout" class="btn btn-outline-danger">Logout</a>
                    }
                </div>
            </div>
        </nav>
    </header>



   <div class="body-content">
        @RenderBody()
    </div>



   <footer>
        <small>© Copyright @DateTime.Now.Year, StackOverflow</small>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>



</body>
</html>
