
<body>
	<div class="body-content">
		<h1>About - a message from the team</h1>

		<p>
			StackOverflow is an original local copy from <a href=https://stackoverflow.com ></a>, the original site is for geeks help other geeks. <br />
			This will be an experimental copy that tries to mimic stack overflow for practice only, we know that if we make it public evveryone will go wild.
		</p>

		<p>
			Stack Overflow is a question and answer website for professional and enthusiast programmers. It is the flagship site of the Stack Exchange Network. It was created in 2008 by Jeff Atwood and Joel Spolsky. It features questions and answers on a wide range of topics in computer programming. It was created to be a more open alternative to earlier question and answer websites such as Experts-Exchange. Stack Overflow was sold to Prosus, a Netherlands-based consumer internet conglomerate, on 2 June 2021 for $1.8 billion.
			<br />
			The website serves as a platform for users to ask and answer questions, and, through membership and active participation, to vote questions and answers up or down similar to Reddit and edit questions and answers in a fashion similar to a wiki. Users of Stack Overflow can earn reputation points and "badges"; for example, a person is awarded 10 reputation points for receiving an "up" vote on a question or an answer to a question, and can receive badges for their valued contributions, which represents a gamification of the traditional Q&A website. Users unlock new privileges with an increase in reputation like the ability to vote, comment, and even edit other people's posts.
			<br />
			As of March 2021 Stack Overflow has over 14 million registered users, and has received over 21 million questions and 31 million answers. The site and similar programming question and answer sites have globally mostly replaced programming books for day-to-day programming reference in the 2000s, and today are an important part of computer programming. Based on the type of tags assigned to questions, the top eight most discussed topics on the site are: JavaScript, Java, C#, PHP, Android, Python, jQuery, and HTML.

		</p>


	</div>

</body>

