header {
    padding: 10px 50px 10px 44px;
    border-bottom: 1px solid #dee2e6;
    text-align: center;
}

footer {
    padding: 10px 50px 10px 50px;
    border-top: 1px solid #dee2e6;
    text-align: right;
    position: fixed;
    height: 60px;
    bottom: 0;
    width: 100%;
    color: #66CDAA;
}

a {
    color: #007bff;
}

.body-content {
    padding: 10px 50px 50px 50px;
    text-align: center;
}

.table {
    display: table;
}

.header {
    display: table-header-group;
    font-weight: bold;
    text-align: center;
}

.header-cell {
    display: table-cell;
    width: 20%;
    padding: 12px;
    border-bottom: 2px solid #dee2e6;
    text-align: center;
}

.row-group {
    display: table-row-group;
}

.row {
    display: table-row;
    text-align: center;
}

.cell {
    display: table-cell;
    width: 20%;
    padding: 12px;
    border-bottom: 1px solid #dee2e6;
}

.margin12 {
    margin: 12px 0px 12px 0px;
}

.form-label {
    font-weight: bold;
}

.form-input {
    margin: 12px 0px 12px 0px;
    width: 200px;
    height: 25px;
}

.form-error {
    color: #dc3545;
}

.btn-primary {
    margin: 12px 6px 12px 0px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    height: 30px;
}

.btn-danger {
    margin: 12px 6px 12px 0px;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    height: 30px;
}

a.nav {
    margin: 6px 6px 6px 6px;
}

.label-error {
    color: red
}

img {
    text-align: center;
    height:70px;
    width:300px;
}

.nav-link {
    color: #FFFFFF;
}

.nav-link:visited {
    color: #D0D0D0;
}

.nav-link:hover {
    color: #E0E0E0;
}



.nav-item {
    margin-right: 10px;
    margin-left: 10px;
    background-color: #20B2AA;
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    border-radius: 8px;
}

.navbar {
    margin: auto;
    padding: 10px;
    background-color: #008B8B;
}