
@model Post;

<form asp-controller="Posts" asp-action="@this.ViewData["Action"]" method="post">
    <div style="display: @this.ViewData["PostFormVisibility"]">
        <label asp-for="Title" class="form-label"></label>
        <br />
        <input asp-for="Title" type="text" class="form-input" />
        <br />
        <span asp-validation-for="Title" class="form-error"></span>
    </div>
    <div>
        <label asp-for="Content" class="form-label"></label>
        <br />
        <input asp-for="Content" type="text" class="form-input" />
        <br />
        <span asp-validation-for="Content" class="form-error"></span>
    </div>
    <div>
        <input type="submit" value="@this.ViewData["SubmitButton"]" class="btn btn-primary" />
    </div>
</form>